body {
  background-image: url('img/bg.jpg');
  margin: 0;
  padding: 0;
  position: relative;
}

#info {
  position: absolute;
  top: 60px;        
  left: 20px;
  width: 250px;       
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  position: relative;
}

.character{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.players{
    display: flex;
    justify-content: space-between;
}
.character img{
    width: 100px;
    height: 100px;
}

.health-bars {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.hearts {
  display: flex;
}

.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapons {
    margin-bottom: 5px;
}
